#Pragma
from __future__ import unicode_literals

import logging
import logging.handlers


sql_url = 'dialect+driver://username:password@host:port/database'
sql_remote_url = 'dialect+driver://username:password@host:port/database'

cost_decimals = 4
sale_decimals = 2
retail_decimals = 2

# create logger
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

# create file handler which logs even debug messages
fh = logging.handlers.TimedRotatingFileHandler(
	'/var/log/bakedpytato/bakedpytato.log', 
	when='d', 
	interval=1, 
	backupCount=30, 
	encoding=None, 
	delay=False, 
	utc=False
)
fh.setLevel(logging.DEBUG)

# create console handler with a higher log level
ch = logging.StreamHandler()
ch.setLevel(logging.INFO)

# create formatter and add it to the handlers
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
fh.setFormatter(formatter)
ch.setFormatter(formatter)
# add the handlers to the logger
logger.addHandler(fh)
logger.addHandler(ch)

#emery plugin
emery_user = 'username'
