<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

	<xi:include href="master.html" />

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
	<title>Bakedpytato</title>
</head>

<body>
	${sidebar_top()}
	
	<a target='_blank' href="${tg.url('/customer_order')}">Customer Orders</a>
	<a target='_blank' href="${tg.url('/customer_payment')}">Customer Payments</a>
	<a target='_blank' href="${tg.url('/customer_shipment')}">Customer Shipments</a>
	
	<a target='_blank' href="${tg.url('/product')}">Products</a>
	
	
</body>
</html>
